body {
    background-color: black;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

#p1 {
    color: aqua;
}

#p2 {
    color: bisque;
}

#p3 {
    color: chartreuse;
}

#p4 {
    color: azure;
}

.odd {
    font-size: 25px;
}

.even {
    font-size: 15px;
}